#Import the data set and the necesary libraries and modules.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import gspread

#Importing the data

In [ ]:
from google.colab import auth
auth.authenticate_user()

from google.auth import default
creds, _ = default()

The above snipet gets the live data
The below commented code reads the static data

In [ ]:
#data = pd.read_csv("/content/Copy of Blank Quiz (Responses).xlsx - Form Responses 1 .tsv",sep='\t')

The below reads the gsheet and stores it as a dataframe.

In [ ]:
gc = gspread.authorize(creds)
worksheet = gc.open('Copy of Blank Quiz (Responses).xlsx').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

# Use the first row as the column headers.
headers = rows[0]
data = pd.DataFrame(rows[1:], columns=headers)

Let's take a brief look at our data

In [ ]:
data.head()

,Timestamp,Email Address,Name,Age,In which state or union territory did you spend most of your childhood and teenage years?,"During your teenage years, in which region did you spend the majority of your time living?","On a scale from 1 to 5, with 1 being ""I strongly dislike winter"" and 5 being ""I strongly like winter,"" how much do you enjoy the winter season?","On a scale from 1 to 5, with 1 being ""I strongly dislike summer"" and 5 being ""I strongly like summer,"" how much do you enjoy the summer season?","On a scale from 1 to 5, with 1 being ""I strongly dislike monsoon"" and 5 being ""I strongly like monsoon,"" how much do you enjoy the monsoon season?","On a scale from 1 to 5, with 1 being ""I strongly dislike autumn"" and 5 being ""I strongly like autumn,"" how much do you enjoy the autumn season?",...,"On a scale of 1 to 5, with 1 being ""I am highly unlikely"" and 5 being ""I am highly likely"", how likely are you to take a vacation in a mountainous region?","On a scale of 1 to 5, with 1 being ""I am highly unlikely"" and 5 being ""I am highly likely"", how likely are you to take a vacation in a tropical region?","On a scale of 1 to 5, with 1 being ""I am highly unlikely"" and 5 being ""I am highly likely"", how likely are you to take a vacation in a desert?","On a scale of 1 to 5, with 1 being ""I am highly unlikely"" and 5 being ""I am highly likely"", how likely are you to take a vacation in the plains?","On a scale of 1 to 5, with 1 being ""I am highly unlikely"" and 5 being ""I am highly likely"", how likely are you to take a vacation in the ghats?","On a scale of 1 to 5, with 1 being ""I am highly unlikely"" and 5 being ""I am highly likely"", how likely are you to take a vacation in a plateau-like region?",Which picture from the following options best captures the essence of summer?,Which picture from the following options best captures the essence of winter?,Which picture from the following options best captures the essence of monsoon?,Registration No.
0,4/14/2023 13:22:52,20bds015@iiitdwd.ac.in,Chinmay S Poola,21,Karnataka,Deccan plateau,4,3,3,4,...,3,3,1,4,4,3,Option 2,Option 4,Option 2,20bds015
1,4/14/2023 14:20:25,20bcs055@iiitdwd.ac.in,Harshita NG,21,Karnataka,Deccan plateau,3,4,1,5,...,5,3,1,4,5,4,Option 3,Option 4,Option 1,20bcs055
2,4/14/2023 13:16:06,20bds044@iiitdwd.ac.in,Rishabh Singh,21,Uttar Pradesh,Indo-Gangetic alluvial plain,5,3,4,5,...,5,3,2,3,3,2,Option 1,Option 4,Option 1,20bds044
3,4/14/2023 15:54:53,20bcs124@iiitdwd.ac.in,SINGH SWEEKRUTI NARENDRA,21,Maharashtra,Costal plains,3,3,3,4,...,4,4,4,3,3,3,Option 2,Option 3,Option 1,20BCS124
4,4/14/2023 12:49:59,20bds060@iiitdwd.ac.in,Utkarsh,21,Bihar,Indo-Gangetic alluvial plain,3,3,3,4,...,4,4,2,3,3,3,Option 2,Option 4,Option 1,20bds060

The data looks approprite but let's change the colunm names to make it short and simple

In [ ]:
new_columns = ["Timestamp",
"email address",
"name",
"age",
"state lived",
"region lived",
"like winter",
"like summer",
"like monsoon",
"like autumn",
"like spring",
"like gentle rainfall",
"like steady rainfall",
"like heavy rainfall",
"like showers",
"like thrunderstorms",
"rainy activity",
"prefered temperature",
"prefered time",
"coastal vacation",
"mountainous vacation",
"tropical vacation",
"desert vacation",
"plains vacation",
"ghats vacation",
"plateau vacation",
"summer pic",
"winter pic",
"monsoon pic",
"Registration No"
]
data.columns = new_columns

In [ ]:
data.head()

,Timestamp,email address,name,age,state lived,region lived,like winter,like summer,like monsoon,like autumn,...,mountainous vacation,tropical vacation,desert vacation,plains vacation,ghats vacation,plateau vacation,summer pic,winter pic,monsoon pic,Registration No
0,4/14/2023 13:22:52,20bds015@iiitdwd.ac.in,Chinmay S Poola,21,Karnataka,Deccan plateau,4,3,3,4,...,3,3,1,4,4,3,Option 2,Option 4,Option 2,20bds015
1,4/14/2023 14:20:25,20bcs055@iiitdwd.ac.in,Harshita NG,21,Karnataka,Deccan plateau,3,4,1,5,...,5,3,1,4,5,4,Option 3,Option 4,Option 1,20bcs055
2,4/14/2023 13:16:06,20bds044@iiitdwd.ac.in,Rishabh Singh,21,Uttar Pradesh,Indo-Gangetic alluvial plain,5,3,4,5,...,5,3,2,3,3,2,Option 1,Option 4,Option 1,20bds044
3,4/14/2023 15:54:53,20bcs124@iiitdwd.ac.in,SINGH SWEEKRUTI NARENDRA,21,Maharashtra,Costal plains,3,3,3,4,...,4,4,4,3,3,3,Option 2,Option 3,Option 1,20BCS124
4,4/14/2023 12:49:59,20bds060@iiitdwd.ac.in,Utkarsh,21,Bihar,Indo-Gangetic alluvial plain,3,3,3,4,...,4,4,2,3,3,3,Option 2,Option 4,Option 1,20bds060

Now the data looks neat and simple

#Processsing the data

In [ ]:
data

NameError: ignored